* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

nav img {
    margin-left: 290px;
    margin-top: 10px;
    height: 100px;
    border-radius: 50px;
}

.nav-item a {
    text-align: center;
    margin-bottom: 25px;
}

/*  */
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");


.jumbotron {
    background-color: #A699B0;

    
        overflow-x: hidden;
    
}

section {

    /* display: inline; */
    /* background: #000; */
    /* min-height: 100vh; */

    margin-left: 50%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.content {
    position: relative;
}

.content h2 {
    color: #fff;
    font-size: 2em;
    position: absolute;
    transform: translate(-43%, -185%);
}

.content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 0.2px #ffffff;
}

.content h2:nth-child(2) {
    color: #ffffff;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {

    0%,
    100% {
        clip-path: polygon(0% 45%,
                16% 44%,
                33% 50%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%);
    }
}


h3 {
    text-align: center;
    padding: -10px 10px;
    /* display: absolute; */
}

a {
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}

h1 {
    font-family: cursive;
    font-size: x-large;
}

h2 {
    font-family: sans-serif;
    font-size: x-large;
    margin-top: 35px;
}

p {
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {

    background-color: gray;
}

.main {
    background-position: center;
    background-size: cover;
    height: 95vh;
}



.icon {
    width: 400px;
    float: left;
    height: 700px;
    padding-left: 9px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.logo {
    color: #efebeb;
    font-size: 35px;
    font-family: cursive;
    padding-left: 5px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu {
    width: 400px;
    float: left;
    height: 70px;
}

.skill {
    /* align-items: center;
            align-content: center; */
    text-align: center;
}


.skill img {
    margin-left: 50px;
    margin-right: 50px;
    height: 50px;
    width: 50px;
}

.center {
    display: inline-block;
    margin-left: 50%;
    /* margin-left: auto; */
    margin-right: auto;
    width: 50%;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.Skills {
    color: #efebeb;
    font-size: large;
    font-weight: bold;
    font-family: cursive;

}



.form {
    color: white;
    /* style="border:orange;  */
 border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 50px; */

    width: 70%;
    margin-bottom: 10px;
}

.form input {
    border-radius: 5px 0 5px 5px;
}

#message {
    border-radius: 5px;
    padding-left: 5px;
}

#button {
    color: white;
    font-weight: bold;
    background-color: green;
    padding: 5px;
}

#button:hover {
    background-color: gray;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 2px;
}

nav ul li a {
    margin-top: -60px;
    float: right;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #000000;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
    
    margin-top: -59px;
    margin-bottom: 0rem;
}
nav ul li a:hover{
    width: 100%;   
    color: rgb(0, 255, 21);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}
nav ul li a:hover::after {
    width: 100%;
    /* color: black; */
    text-decoration: none;
}
.content {
    width: 1200px;
    height: auto;
    margin: auto;
    color: #0f7d0d;
    position: relative;
}

.content .par {
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1 {
    font-family: cursive;
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn a {
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover {
    background-color: #fff;
}

.content span {
    color: #ff7200;
    font-size: 65px
}

.gmail {
    color: rgb(193, 216, 196);
    width: 102%;
}
.qualification .row img{
    color:red;
    border: 10px solid transparent;
}

/* services */
.card{
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* width: 100px; */
}
.card-title{
    color:white;
    font-family: Courier New;
    font-weight: bold;
}
.card-text{
    color:#000;
}
.right{
    margin-left: auto;
    margin-right: auto;
    display: table;
}
