*{
    margin:0;
    padding: 0;
}
.Playlist{
    width: 100%;
    background: black;
    /* background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(1.jpg); */
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.Playlist{
    width: 1500;
    float: left;
    height: 700px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 120px;
    margin-top: 27px;
    font-size: 20px;
}

ul li a{
    text-decoration: none;
    color: #f8f5f5;
    font-family: Arial;
    font-weight: bold;
    transition: 0.1s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}